    :root {
    --bg-color: #DEECFC;
    --secondary-bg: #cdddf5;
    --letter-color: #18202a;
    --principal-color: #396499;
    --secondary-color: #8d67b4;
    --principal-typo:'Poppins', sans-serif;
    --secondary-typo:'Rubik', sans-serif;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font-family: var(--principal-typo);
}

article {
    width: 400px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    background-color: var(--secondary-bg);
    border-radius: 10px;
}

.article__title {
    font-family: var(--secondary-typo);
    margin: 0;
}

.article__date {
    font-size: 12px;
}

.article__origin {
    width: 50px;
    margin-top: 10px;
    border-radius: 2px;
}